# Ambiente virtual
venv/
ENV/
env/

# Arquivos compilados
*.pyc
__pycache__/



# Configurações locais
*.env
*.local

# VS Code
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
