.dark-mode {
  --text-color: #ffffff;
}

.light-mode {
  --text-color: #000805;
}

.cardMC1,
.cardMC2,
.card{
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.cardMC1:hover,
.cardMC2:hover,
.card {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


@keyframes slideFadeIn {
  0% {
    
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-slide-fade {
  opacity: 0; /* Começa transparente */
  animation: slideFadeIn 0.6s ease-out forwards; /* Executa a animação */
}


.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }
.delay-5 { animation-delay: 0.5s; }

/* Estilos para os novos gráficos */
.grafico-container {
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid #1c2a24;
    background: linear-gradient(to left, rgba(35, 183, 133, 0.25), rgba(0, 0, 0, 0.05));
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    transition: all 0.3s ease;
}

.grafico-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.titulo-grafico {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #C0C0C0, rgba(192, 192, 192, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

@media (min-width: 640px) {
    .titulo-grafico {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}