{% extends 'base.html' %}

{% block title %}KingCoin - Landing{% endblock %}

{% block content %}
<section class="flex flex-col items-center justify-center h-[90vh] text-center px-4 space-y-6">
    <h1 class="fadeSlide delay-1 text-4xl lgx:text-6xl font-normal leading-snug text-gray-300">
        Nós somos o futuro da <span class="text-gray-100"><br>organização</span>
        financeira <span class="text-gray-100">pessoal</span>
    </h1>
    <p class="fadeSlide delay-2 text-lg lgx:text-xl text-gray-400 max-w-2xl">
        O jeito mais moderno e seguro de controlar suas finanças pessoais chegou. Cadastre-se e comece a se organizar financeiramente hoje mesmo!
    </p>
    <a href="{% url 'register' %}" class="fadeSlide delay-3 mt-4 px-6 py-3 text-lg font-medium rounded-full bg-green-400 text-black hover:bg-green-500 transition">
        Quero me organizar financeiramente
    </a>
</section>
{% endblock %}
