{% extends 'base.html' %}

{% block title %}KingCoin - Redefinir Senha{% endblock %}

{% block content %}
<section class="flex items-center justify-center min-h-[100dvh] px-4 pt-20">
    <div class="glass fadeSlide delay-1 rounded-2xl shadow-xl w-full max-w-md p-8 space-y-6">
        <h2 class="text-3xl font-semibold text-center text-gray-100">Redefinir Senha</h2>
        <p class="text-center text-gray-400 text-sm">
            Digite sua nova senha abaixo
        </p>

        <form method="post" class="space-y-5">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div>
                {{ form.new_password1.errors }}
                {{ form.new_password1}}
            </div>

            <div>
                {{ form.new_password2.errors }}
                {{ form.new_password2}}
            </div>

            <button type="submit"
                class="w-full mt-2 px-6 py-3 text-lg font-medium rounded-full bg-green-400 text-black hover:bg-green-500 transition">
                Redefinir Senha
            </button>
        </form>

        <div class="flex justify-between text-sm mt-2">
            <a href="{% url 'login' %}" class="text-green-400 hover:text-green-300 font-medium">
                Voltar para Login
            </a>
        </div>
    </div>
</section>
{% endblock %}
